<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Exemplo JasperReport</title>
</h:head>
<h:body> 
	<h:form>
		<h:dataTable var="func" value="#{jasperController.funcionarios}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Nome" />
				</f:facet>
				<h:outputText value="#{func.nome}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Matrícula" />
				</f:facet>
				<h:outputText value="#{func.matricula}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Tempo de Empresa" />
				</f:facet>
				<h:outputText value="#{func.tempoEmpresa}" />
			</h:column>
		</h:dataTable>
		<h:commandButton action="#{jasperController.gerarRelatorio()}" value="Gerar Relatorio"/>
		<br />
		<br />
		<h:commandButton action="#{jasperController.gerarRelatorioGrafico()}" value="Gerar Relatorio Grafico"/>
	</h:form>
</h:body>
</html>

